.player-wrapper {
  animation: fadein 1000ms ease-out;
  animation-iteration-count: 1;
//  background: url("/img/player-background.png") no-repeat 0 100%;
//  background-size: cover;
  margin-right: 20px;
}

.player,
.player-track {
	height: 100%;
  position: relative;
}

.player-status {
	display: block;
	background: url("/img/player-background.png") no-repeat 0 100%;
	background-size: cover;
	height: 100%;

  width: 0;
  z-index: 2;
}

.player-track:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  background: url("/img/player-background.png") no-repeat 0 100%;
	background-size: cover;
  opacity: 0.1;
  z-index: 1;
}

.player-control {
  display: none;
}

@keyframes fadein {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
